name: Download new assets

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 * * * *'

jobs:
  update:
    name: Update
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install requests
      # for some reason github actions uses the wrong version and I can't seem to fix it any other way
      - name: Remove all .NET versions
        run: |
          sudo apt-get remove --purge -y dotnet* || true
          sudo apt-get autoremove -y
          sudo rm -rf /usr/share/dotnet /etc/dotnet
      - name: Install .NET 6.0
        uses: actions/setup-dotnet@v4
        with:
            dotnet-version: 6.0.x
      - name: Update files
        run: |
          python script.py --server tw
          python script.py --server yostar
      - name: Push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add --ignore-removal .
          git commit -m "FBS update"
          git push origin HEAD

